<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>libBECKVO.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>libBECKVOOSX.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8276C1C319335CC400E057CB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>828294D2193692B700482C53</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>828294DF193692B700482C53</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>828294F9193692CB00482C53</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>82829506193692CB00482C53</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>82829525193736A600482C53</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>82829532193736A600482C53</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>828295511937385700482C53</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>828295621937385700482C53</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>82F1D80819329DA400955AE6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
